{% extends "admin/change_list.html" %}

{% block object-tools-items %}
<li>
    <a href="{% url 'admin:fixlist_classificationrule_import_rules' %}">Import rules</a>
</li>
<li>
    <a href="{% url 'admin:fixlist_classificationrule_import_chrome_extensions' %}">Import Chrome extension IDs</a>
</li>
<li>
    <a href="{% url 'admin:fixlist_classificationrule_reparse_all' %}">Re-parse all rules</a>
</li>
<li>
    <a href="{% url 'admin:fixlist_classificationrule_duplicates' %}">Find duplicates</a>
</li>
<li>
    <a href="{% url 'admin:fixlist_classificationrule_bad_regex' %}">Find bad regex</a>
</li>
{{ block.super }}
{% endblock %}
